@import "./responsive.scss";
@import "./utilities.scss";
@import "./reset.scss";
@import "./common.scss";

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #eeeeee;
  .card {
    border: none;
    background: #ffffff;
  }
  .filter-set {
    .filter-set-title {
      border-bottom: 2px solid #eee;
      font-size: 1.25rem;
    }
  }

  .filter-item {
    padding: 0.5rem 2.5rem;
    border: none;
    background: #a5d6a7;
    line-height: 1;
    border-radius: 5px;
    margin: 0.25rem 0.75rem;
    text-transform: capitalize;
    &.active {
      background: #4caf50;
    }
  }
}
